<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<link  href="/dCSS/Theme2/default/elements.css" media="handheld,print,projection,screen,tty,tv" rel="stylesheet" type="text/css" />
<link  href="/dCSS/Theme2/default/common.css" media="handheld,print,projection,screen,tty,tv" rel="stylesheet" type="text/css" />
<link  href="/dCSS/Theme2/default/custom.css" media="handheld,print,projection,screen,tty,tv" rel="stylesheet" type="text/css" />
<link  href="/sCSS/Theme2/default/ie7/rlHovers.css" media="handheld,print,projection,screen,tty,tv" rel="stylesheet" type="text/css" />
<link  href="/css/assistive.css" media="aural,braille,embossed" rel="stylesheet" type="text/css" />
<link  href="/sCSS/Theme2/dStandard.css" media="handheld,print,projection,screen,tty,tv" rel="stylesheet" type="text/css" />
<link  href="/sCSS/Theme2/{!SUBSTITUTE(SUBSTITUTE($Organization.Id,'<','&lt;'),'>','&gt;')}/{!SUBSTITUTE(SUBSTITUTE($User.Id,'<','&lt;'),'>','&gt;')}/dCustom0.css" media="handheld,print,projection,screen,tty,tv" rel="stylesheet" type="text/css" />
<link  href="/sCSS/Theme2/default/extended.css" media="handheld,print,projection,screen,tty,tv" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="/js/functions.js"></script>
<script  src="/dJS/en/library.js" type="text/javascript"></script>
<script src="/soap/ajax/10.0/connection.js" type="text/javascript"></script>
<script type="text/javascript" src="/js/setup.js"></script>
<script  src="/static/081407/js/picklist.js" type="text/javascript"></script>

<script type="text/javascript" src="{!SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(Scontrol.URL,'<','&lt;'),'>','&gt;'),'"','&quot;')}"></script>



<style  type="text/css">
.bPageBlock .detailList .recurrenceTable td { vertical-align: middle; padding: 10px }
</style>
<style  type="text/css">
.calendarTable th.timeCol  { padding-right:.3em;}
</style>
</head>

<body class="Custom67Tab detailPage" onload="SVMXC_IB_SetupIBScreen('{!SUBSTITUTE(SUBSTITUTE(Installed_Product__c.Id,'<','&lt;'),'>','&gt;')}', '{!SUBSTITUTE(SUBSTITUTE(User.Id,'<','&lt;'),'>','&gt;')}')">

<div class="bPageTitle" id="EditTitle" style="display: none">
    <div class="ptBody secondaryPalette">
    	<div class="content">
		<img src="/s.gif" alt="Installed Product" class="pageTitleIcon" title="Installed Product"/>
		<h1 class="pageType">Edit Installed Product<span  class="titleSeparatingColon">:</span></h1>
		<h2 class="pageDescription">{!SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(Installed_Product__c.Serial_Lot_Number__c,'<','&lt;'),'>','&gt;'),'"','&quot;')}</h2>
		<br>
		<div class="blank">&nbsp;</div>
	</div>
    </div>
</div>

<div class="bPageTitle" id="NewTitle" style="display: none">
    <div class="ptBody secondaryPalette">
    	<div class="content">
		<img src="/s.gif" alt="Installed Product" class="pageTitleIcon" title="Installed Product"/>
		<h2 class="pageDescription">New Installed Product</h2>
		<br><br>
		<div class="blank">&nbsp;</div>
	</div>
    </div>
</div>

<div class="bPageBlock bEditBlock secondaryPalette">
<div class="pbBody">
<form id="ib_form" name="ib_form">
    <hr />
    <div class="pbSubsection">
	<div class="buttons">
	    <input value="Save" name="LAB029" class="btn" title="Save" onclick="return SVMXC_IB_ValidateAndSaveIB();" id="btnSave" type="button" />&nbsp;
	    <input value="Cancel" name="LAB030" class="btn" title="Cancel" id="btnCancel" type="button" onclick="SVMXC_IB_CancelIB();" />&nbsp;
	</div>

	<div id="ErrMsg" name="ErrMsg" style="color:red"></div>
	<hr />

	<table class="detailList" border="0" cellpadding="0" cellspacing="0">
	    <tr>
		<td class="labelCol"><label name="LAB001" for="product1">Product</label></td>
		<td class="dataCol col02">
		    <div class="requiredInput"><div class="requiredBlock"></div>
		    <input type="hidden" name="product1_lkid" id="product1_lkid" value="" />
		    <input type="hidden" name="product1_lkold" id="product1_lkold" value="null" />
		    <input type="hidden" name="product1_lktp" id="product1_lktp" value="" />
		    <input type="hidden" name="product1_lspf" id="product1_lspf" value="0" />
		    <input type="hidden" name="product1_mod" id="product1_mod" value="0" />
		    <span class="lookupInput">
			<input  id="product1" maxlength="255" name="product1" size="20" tabindex="1" type="text"
				onchange="getElementByIdCS('product1_lkid').value='';getElementByIdCS('product1_mod').value='1';" />
			<a href="JavaScript: openLookup('/_ui/common/data/LookupPage?lkfm=editPage&lknm=product1&lktp=' +
					    document.getElementById('product1_lktp').value, 670,
					    document.getElementById('product1_mod').value, '&lksrch=' +
					    escapeUTF(document.getElementById('product1').value));" 
				    id="product1_lkwgt"
				    onclick="setLastMousePosition(event)" 
				    tabindex="500"
				    title="Product Lookup (New Window)">
				    <img src="/img/lookup.gif" alt="Product Lookup (New Window)" class="lookupIcon" title="Product Lookup (New Window)" /></a>
		    </span>
		    </div>
		</td>
		<td class="labelCol"><label name="LAB002" for="serial1">Serial/Lot Number</label></td>
		<td class="dataCol last"><input id="serial1" maxlength="255" name="serial1" size="20" tabindex="2" type="text" /></td>
	    </tr>
		<td class="labelCol"><label name="LAB003" for="parent_product">Parent Product</label></td>
		<td class="dataCol col02"><input id="parent_product" readonly="true" maxlength="255" name="parent_product" size="20" tabindex="3" type="text"></td>
		<td class="labelCol"><label name="LAB004" for="parent_serial">Serial/Lot Number</label></td>
		<td class="dataCol col02">
		    <input type="hidden" name="parent_serial_lkid" id="parent_serial_lkid" value="" />
		    <input type="hidden" name="parent_serial_lkold" id="parent_serial_lkold" value="null" />
		    <input type="hidden" name="parent_serial_lktp" id="parent_serial_lktp" value="" />
		    <input type="hidden" name="parent_serial_lspf" id="parent_serial_lspf" value="0" />
		    <input type="hidden" name="parent_serial_mod" id="parent_serial_mod" value="0" />
		    <span class="lookupInput">
			<input id="parent_serial" maxlength="255" name="parent_serial" size="20" tabindex="4" type="text"
				onchange="getElementByIdCS('parent_serial_lkid').value='';getElementByIdCS('parent_serial_mod').value='1';" 
				onblur="SVMXC_IB_ExitParentSerial();" />
			<a href="JavaScript: openLookup('/_ui/common/data/LookupPage?lkfm=editPage&lknm=parent_serial&lktp=' +
					    document.getElementById('parent_serial_lktp').value, 670,
					    document.getElementById('parent_serial_mod').value, '&lksrch=' +
					    escapeUTF(document.getElementById('parent_serial').value));" 
				    id="parent_serial_lkwgt"
				    onclick="setLastMousePosition(event);" 
				    tabindex="500"
				    title="Installed Product Lookup (New Window)">
				    <img src="/img/lookup.gif" alt="Installed Product Lookup (New Window)" class="lookupIcon" title="Installed Product Lookup (New Window)" /></a>
		    </span>
		</td>
	    </tr>
	    <tr>
		<td class="labelCol"><label name="LAB005" for="top_product">Top-Level Product</label></td>
		<td class="dataCol col02"><input id="top_product" readonly="true" maxlength="255" name="top_product" size="20" tabindex="5" type="text" />
		<td class="labelCol"><label name="LAB006" for="top_serial">Serial/Lot Number</label></td>
		<td class="dataCol last">
		    <input type="hidden" name="top_serial_lkid" id="top_serial_lkid" value="" />
		    <input type="hidden" name="top_serial_lkold" id="top_serial_lkold" value="null" />
		    <input type="hidden" name="top_serial_lktp" id="top_serial_lktp" value="" />
		    <input type="hidden" name="top_serial_lspf" id="top_serial_lspf" value="0" />
		    <input type="hidden" name="top_serial_mod" id="top_serial_mod" value="0" />
		    <span class="lookupInput">
			<input id="top_serial" maxlength="255" name="top_serial" size="20" tabindex="6" type="text"
				onchange="getElementByIdCS('top_serial_lkid').value='';getElementByIdCS('top_serial_mod').value='1';" 
				onblur="SVMXC_IB_ExitTopSerial();" />
			<a href="JavaScript: openLookup('/_ui/common/data/LookupPage?lkfm=editPage&lknm=top_serial&lktp=' +
					    document.getElementById('top_serial_lktp').value, 670,
					    document.getElementById('top_serial_mod').value, '&lksrch=' +
					    escapeUTF(document.getElementById('top_serial').value));" 
				    id="top_serial_lkwgt"
				    onclick="setLastMousePosition(event)" 
				    tabindex="500"
				    title="Installed Product Lookup (New Window)">
				    <img src="/img/lookup.gif" alt="Installed Product Lookup (New Window)" class="lookupIcon" title="Installed Product Lookup (New Window)" /></a>
		    </span>
		</td>
	    </tr>
	    <tr>
		<td class="labelCol"><label name="LAB007" for="asset_tag">Asset Tag</label></td>
		<td class="dataCol col02"><input id="asset_tag" maxlength="100" name="asset_tag" size="20" tabindex="7" type="text" /></td>
	    </tr>
	</table>

	<hr />

	<table class="detailList" border="0" cellpadding="0" cellspacing="0">
	    <tr>
		<td class="labelCol"><label name="LAB008" for="company">Company</label></td>
		<td class="dataCol col02">
		    <div class="requiredInput"><div class="requiredBlock"></div>
		    <input type="hidden" name="company_lkid" id="company_lkid" value="" />
		    <input type="hidden" name="company_lkold" id="company_lkold" value="null" />
		    <input type="hidden" name="company_lktp" id="company_lktp" value="" />
		    <input type="hidden" name="company_lspf" id="company_lspf" value="0" />
		    <input type="hidden" name="company_mod" id="company_mod" value="0" />
		    <span class="lookupInput">
			<input  id="company" maxlength="255" name="company" size="20" tabindex="8" type="text"
				onchange="getElementByIdCS('company_lkid').value='';getElementByIdCS('company_mod').value='1';" />
			<a href="JavaScript: openLookup('/_ui/common/data/LookupPage?lkfm=editPage&lknm=company&lktp=' +
					    document.getElementById('company_lktp').value, 670,
					    document.getElementById('company_mod').value, '&lksrch=' +
					    escapeUTF(document.getElementById('company').value));" 
				    id="company_lkwgt"
				    onclick="setLastMousePosition(event)" 
				    tabindex="500"
				    title="Account Lookup (New Window)">
				    <img src="/img/lookup.gif" alt="Account Lookup (New Window)" class="lookupIcon" title="Account Lookup (New Window)" /></a>
		    </span>
		    </div>
		</td>
		<td class="labelCol"><label name="LAB011" for="dist_company">Dist. Company</label></td>
		<td class="dataCol last">
		    <input type="hidden" name="dist_company_lkid" id="dist_company_lkid" value="" />
		    <input type="hidden" name="dist_company_lkold" id="dist_company_lkold" value="null" />
		    <input type="hidden" name="dist_company_lktp" id="dist_company_lktp" value="" />
		    <input type="hidden" name="dist_company_lspf" id="dist_company_lspf" value="0" />
		    <input type="hidden" name="dist_company_mod" id="dist_company_mod" value="0" />
		    <span class="lookupInput">
			<input  id="dist_company" maxlength="255" name="dist_company" size="20" tabindex="11" type="text"
				onchange="getElementByIdCS('dist_company_lkid').value='';getElementByIdCS('dist_company_mod').value='1';" />
			<a href="JavaScript: openLookup('/_ui/common/data/LookupPage?lkfm=editPage&lknm=dist_company&lktp=' +
					    document.getElementById('dist_company_lktp').value, 670,
					    document.getElementById('dist_company_mod').value, '&lksrch=' +
					    escapeUTF(document.getElementById('dist_company').value));" 
				    id="dist_company_lkwgt"
				    onclick="setLastMousePosition(event)" 
				    tabindex="500"
				    title="Account Lookup (New Window)">
				    <img src="/img/lookup.gif" alt="Account Lookup (New Window)" class="lookupIcon" title="Account Lookup (New Window)" /></a>
		    </span>
		</td>
	    </tr>
	    <tr>
		<td class="labelCol"><label name="LAB009" for="contact">Contact</label></td>
		<td class="dataCol col02">
		    <input type="hidden" name="contact_lkid" id="contact_lkid" value="" />
		    <input type="hidden" name="contact_lkold" id="contact_lkold" value="null" />
		    <input type="hidden" name="contact_lktp" id="contact_lktp" value="" />
		    <input type="hidden" name="contact_lspf" id="contact_lspf" value="0" />
		    <input type="hidden" name="contact_mod" id="contact_mod" value="0" />
		    <span class="lookupInput">
			<input  id="contact" maxlength="255" name="contact" size="20" tabindex="9" type="text"
				onchange="getElementByIdCS('contact_lkid').value='';getElementByIdCS('contact_mod').value='1';" 
				onblur="SVMXC_IB_ExitContact();" />
			<a href="JavaScript: openLookup('/_ui/common/data/LookupPage?lkfm=editPage&lknm=contact&lktp=' +
					    document.getElementById('contact_lktp').value, 670,
					    document.getElementById('contact_mod').value, '&lksrch=' +
					    escapeUTF(document.getElementById('contact').value));" 
				    id="contact_lkwgt"
				    onclick="setLastMousePosition(event)" 
				    tabindex="500"
				    title="Contact Lookup (New Window)">
				    <img src="/img/lookup.gif" alt="Contact Lookup (New Window)" class="lookupIcon" title="Contact Lookup (New Window)" /></a>
		    </span>
		</td>
		<td class="labelCol"><label name="LAB012" for="dist_contact">Dist. Contact</label></td>
		<td class="dataCol last">
		    <input type="hidden" name="dist_contact_lkid" id="dist_contact_lkid" value="" />
		    <input type="hidden" name="dist_contact_lkold" id="dist_contact_lkold" value="null" />
		    <input type="hidden" name="dist_contact_lktp" id="dist_contact_lktp" value="" />
		    <input type="hidden" name="dist_contact_lspf" id="dist_contact_lspf" value="0" />
		    <input type="hidden" name="dist_contact_mod" id="dist_contact_mod" value="0" />
		    <span class="lookupInput">
			<input  id="dist_contact" maxlength="255" name="dist_contact" size="20" tabindex="12" type="text"
				onchange="getElementByIdCS('dist_contact_lkid').value='';getElementByIdCS('dist_contact_mod').value='1';" 
				onblur="SVMXC_IB_ExitDistContact();" />
			<a href="JavaScript: openLookup('/_ui/common/data/LookupPage?lkfm=editPage&lknm=dist_contact&lktp=' +
					    document.getElementById('dist_contact_lktp').value, 670,
					    document.getElementById('dist_contact_mod').value, '&lksrch=' +
					    escapeUTF(document.getElementById('dist_contact').value));" 
				    id="dist_contact_lkwgt"
				    onclick="setLastMousePosition(event)" 
				    tabindex="500"
				    title="Contact Lookup (New Window)">
				    <img src="/img/lookup.gif" alt="Contact Lookup (New Window)" class="lookupIcon" title="Contact Lookup (New Window)" /></a>
		    </span>
		</td>
	    </tr>
	    <tr>
		<td class="labelCol"><label name="LAB010" for="alt_company">Alternate Company</label></td>
		<td class="dataCol col02"><input id="alt_company" maxlength="255" name="alt_company" size="20" tabindex="10" type="text" /></td>
		<td class="labelCol"><label name="LAB013" for="sales_order">Sales Order #</label></td>
		<td class="dataCol last"><input id="sales_order" maxlength="255" name="sales_order" size="20" tabindex="13" type="text" /></td>
	    </tr>
	</table>
	<hr />
	<table class="detailList" border="0" cellpadding="0" cellspacing="0">
	    <tr>
		<td class="labelCol"><label name="LAB014" for="status">Status</label></td>
		<td class="dataCol col02">
		    <div class="requiredInput"><div class="requiredBlock"></div>
			<select name="SVMXC__Status__c" id="status" tabindex="14"></select>
		    </div>
		</td>
		<td class="labelCol"><label name="LAB017" for="date_ordered">Date Ordered</label></td>
		<td class="dataCol last">
		    <span class="dateInput">
		    	<input id="date_ordered" maxlength="255" name="date_ordered" size="20" tabindex="17" type="text" />
			<a href="JavaScript: SVMXC_ShowCal(document.getElementById('date_ordered'));"
				id="cal1"
				onclick="setLastMousePosition(event)" 
				tabindex="500">
				<img src="/img/date_picker.gif" alt="" class="datePickerIcon" title="" /></a>
		    </span>
		</td>
	    </tr>
	    <tr>
		<td class="labelCol"><label name="LAB015" for="date_shipped">Date Shipped</label></td>
		<td class="dataCol col02">
		    <span class="dateInput">
			<input id="date_shipped" maxlength="255" name="date_shipped" size="20" tabindex="15" type="text" value="" 
				onblur="SVMXC_IB_ExitDateShipped();" />
			    <a href="JavaScript: SVMXC_ShowCal(document.getElementById('date_shipped'));"
				    id="cal2"
				    onclick="setLastMousePosition(event)" 
				    tabindex="500">
				    <img src="/img/date_picker.gif" alt="" class="datePickerIcon" title="" /></a>
		    </span>
		</td>
		<td class="labelCol"><label name="LAB018" for="date_installed">Date Installed</label></td>
		<td class="dataCol last">
		    <span class="dateInput">
			<input id="date_installed" maxlength="255" name="date_installed" size="20" tabindex="18" type="text" />
			    <a href="JavaScript: SVMXC_ShowCal(document.getElementById('date_installed'));"
				    id="cal3"
				    onclick="setLastMousePosition(event)" 
				    tabindex="500">
				    <img src="/img/date_picker.gif" alt="" class="datePickerIcon" title="" /></a>
		    </span>
		</td>
	    </tr>
	    <tr>
		<td class="labelCol"><label name="LAB016" for="last_date_shipped">Last Date Shipped</label></td>
		<td class="dataCol col02">
		    <span class="dateInput">
			<input id="last_date_shipped" maxlength="255" name="last_date_shipped" size="20" tabindex="16" type="text" />
			    <a href="JavaScript: SVMXC_ShowCal(document.getElementById('last_date_shipped'));"
				    id="cal4"
				    onclick="setLastMousePosition(event)" 
				    tabindex="500">
				    <img src="/img/date_picker.gif" alt="" class="datePickerIcon" title="" /></a>
		    </span>
		</td>
	    </tr>
	</table>
	<hr />
	<table class="detailList" border="0" cellpadding="0" cellspacing="0">
	    <tr>
		<td class="labelCol"><label name="LAB019" for="site">Site</label></td>
		<td class="dataCol col02">
		    <input type="hidden" name="site_lkid" id="site_lkid" value="" />
		    <input type="hidden" name="site_lkold" id="site_lkold" value="null" />
		    <input type="hidden" name="site_lktp" id="site_lktp" value="" />
		    <input type="hidden" name="site_lspf" id="site_lspf" value="0" />
		    <input type="hidden" name="site_mod" id="site_mod" value="0" />
		    <span class="lookupInput">
			<input  id="site" maxlength="255" name="site" size="20" tabindex="19" type="text"
				onchange="getElementByIdCS('site_lkid').value='';getElementByIdCS('site_mod').value='1';" 
				onblur="SVMXC_IB_ExitSite();" />
			<a href="JavaScript: openLookup('/_ui/common/data/LookupPage?lkfm=editPage&lknm=site&lktp=' +
					    document.getElementById('site_lktp').value, 670,
					    document.getElementById('site_mod').value, '&lksrch=' +
					    escapeUTF(document.getElementById('site').value));" 
				    id="site_lkwgt"
				    onclick="setLastMousePosition(event)" 
				    tabindex="500"
				    title="Site Lookup (New Window)">
				    <img src="/img/lookup.gif" alt="Site Lookup (New Window)" class="lookupIcon" title="Site Lookup (New Window)" /></a>
		    </span>
		</td>
		<td class="labelCol"><label name="LAB021" for="city">City</label></td>
		<td class="dataCol last"><input id="city" maxlength="255" name="city" size="20" tabindex="21" type="text" /></td>
	    </tr>
	    <tr>
		<td class="labelCol"><label name="LAB020" for="street">Street</label></td>
		<td class="dataCol col02">
			<textarea cols="30" id="street" maxlength="255" name="street" tabindex="20" value=""
				onchange="handleTextAreaElementChange('street', 255, 'remaining', 'over limit');"
				onclick="handleTextAreaElementChange('street', 255, 'remaining', 'over limit');" 
				onkeydown="handleTextAreaElementChange('street', 255, 'remaining', 'over limit');" 
				onkeyup="handleTextAreaElementChange('street', 255, 'remaining', 'over limit');" 
				onmousedown="handleTextAreaElementChange('street', 255, 'remaining', 'over limit');"
				rows="3" type="text" wrap="soft">
			</textarea>
		</td>
		<td class="labelCol"><label name="LAB022" for="state">State</label></td>
		<td class="dataCol last"><input  id="state" maxlength="255" name="state" size="20" tabindex="22" type="text" /></td>
	    </tr>
	    <tr>
		<td/>
		<td/>
		<td class="labelCol"><label name="LAB023" for="zip">Zip/Postal Code</label></td>
		<td class="dataCol last"><input id="zip" maxlength="255" name="zip" size="20" tabindex="23" type="text" /></td>
	    </tr>
	    <tr>
		<td/>
		<td/>
		<td class="labelCol"><label name="LAB024" for="country">Country</label></td>
		<td class="dataCol last">
		    <select name="SVMXC__Country__c" id="country" tabindex="24"></select>
		</td>
	    </tr>
	</table>
	<hr />
	<table class="detailList" border="0" cellpadding="0" cellspacing="0">
	    <tr>
		<td class="labelCol last"><label name="LAB025" for="inst_notes">Installation Notes</label></td>
		<td class="data2Col last">
			<textarea cols="80" id="inst_notes" value="" maxlength="32000" name="inst_notes" tabindex="25"
				onchange="handleTextAreaElementChange('inst_notes', 32000, 'remaining', 'over limit');"
				onclick="handleTextAreaElementChange('inst_notes', 32000, 'remaining', 'over limit');" 
				onkeydown="handleTextAreaElementChange('inst_notes', 32000, 'remaining', 'over limit');" 
				onkeyup="handleTextAreaElementChange('inst_notes', 32000, 'remaining', 'over limit');" 
				onmousedown="handleTextAreaElementChange('inst_notes', 32000, 'remaining', 'over limit');"
				rows="6" type="text" wrap="soft">
			</textarea>
	    	</td>
	    </tr>
	</table>
	<hr />
    </div>
</form>
</div>
</div>
<div id="ibtree">
    <table id="tableTree" class="list" border="0" cellpadding="0" cellspacing="0">
	<tbody id="list_tbody" >
	</tbody>
    </table>
</div>
</body>
</html>